/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define FRST  0
#define SCND  1
#define THRD  2
#define FRTH  3


/ {


        keymap {
                compatible = "zmk,keymap";

        base_layer {
            label = "Base";
            bindings = <
                &kp 1		&kp 2		&kp 3		&kp 4		
                &kp 5           &kp 6		&kp 7    	&kp #		
                &kp .		&kp -		&kp m		&kp M		&lt FRTH SPACE	
            >;
      sensor-bindings = <&inc_dec_kp LEFT_ARROW RIGHT_ARROW>;
        };

        nav_layer {
            label = "Nav";
            bindings = <
                &trans		&trans		&trans		&trans		
                &trans		&trans		&trans		&trans		
                &trans		&trans		&trans		&trans		&trans		
            >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        media_layer {
            label = "Media";
            bindings = <
                &trans		&trans		&trans		&trans		
                &trans		&trans		&trans		&trans		
                &trans		&trans		&trans		&trans		&trans	
            >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        configuration_layer {
            label = "Configuration";
            bindings = <
                &bt BT_SEL 0	&bt BT_SEL 1	&bt BT_SEL 2	&trans		
                &bt BT_CLR	&out OUT_USB	&out OUT_TOG	&trans			
                &out OUT_TOG	&out OUT_BLE	&trans		&trans	   	&trans		
            >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

	};
};
